@charset "utf-8";
/* LGU+ URLPlus 120503 */
body {background-color:#fff;padding-bottom:20px;}

#mw_wrap {width:100%;height:auto;overflow:hidden;}
#mw_wrap li {position:relative;width:100%;height:auto;overflow:hidden;}

.imageLayout_box {overflow:hidden;height:auto;}

.imageLayout_image {width:100%;height:100%;}


.imageOne {width: 100%;  text-align: center;}
.imageOne img {width: 100%; vertical-align: middle}

.movieOne_img {width:100%;height:100%;}
.movieOne_play_icon {background:url("img/play_btn.png");display:block;position:absolute;width:78px;height:81px;left:50%;top:50%;margin-top:-40px;margin-left:-39px;z-index:9999}

.linkEnter {width: 100%;  text-align: center;}
.linkEnter .inputText {width:55%;max-width: 470px;}

.bar {width:100%;height:1px; margin:10px 0px;font-size:1px; border-bottom:1px dashed #999}

.linkPage {width: 90%; text-align: center;margin:0 auto; margin-top: 10px; padding:0px 10px;}

.cuponBarcode {margin:0 auto;margin-top:10px;}

.fixedWrap {margin:0 auto;width: 100%; max-width: 640px; vertical-align: middle;text-align:center;}
.fixedWrap90 {margin:0 auto;width: 90%; max-width: 640px; padding:0px 10px; vertical-align: middle;text-align:center;}
.fixedWrap_input {margin:0 auto;width: 90%; padding:0px 0px; vertical-align: middle;text-align:center;overflow:hidden;}
.fixedWrap_text {margin:0 auto;width: 96%; vertical-align: middle;text-align:center;}

.coupon_use_wrap{ width: 100%; background-color:#c5c5c8; overflow:hidden;height:100%;padding-top:15px;
		background: -webkit-gradient(
			linear, left top, left bottom, 
			from(#d8d8da),
			to(#b2b2c1));
}


.text {width:90%;padding:10px 10px;}
.w100 {width:100%;}
.w90 {width:96%;}



/* button */
button.css3button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	color: #ffffff;
	padding: 9px 20px;
	background: -moz-linear-gradient(
		top,
		#faa41a 0%,
		#f47820);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#faa41a),
		to(#f47820));
	-moz-border-radius: .4em;
	-webkit-border-radius: .4em;
	border-radius: .4em;
	border: 1px solid #da7d0c;
	-moz-box-shadow:
		1px 1px 3px rgba(000,000,000,0.2),
		inset 0px 0px 2px rgba(250,164,026,1);
	-webkit-box-shadow:
		1px 1px 3px rgba(000,000,000,0.2),
		inset 0px 0px 2px rgba(250,164,026,1);
	box-shadow:
		1px 1px 3px rgba(000,000,000,0.2),
		inset 0px 0px 2px rgba(250,164,026,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
}

/* input text */
.inputText {
	box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    
	-webkit-appearance: none;
	background-image: none;
	padding: 10px 2%;
	margin: .47em 0;
	line-height: 1.4;
	font-size: 1em;
	outline: 0;
	-webkit-border-radius: .4em /*{global-radii-blocks}*/;
	border-radius: .4em /*{global-radii-blocks}*/;
	-webkit-box-shadow: inset 0px 1px 4px rgba(0, 0, 0, .2);
	box-shadow: inset 0px 1px 4px rgba(0, 0, 0, .2);

	border: 1px solid #AAA /*{a-body-border}*/;
	color: #333 /*{a-body-color}*/;
	text-shadow: 0 /*{a-body-shadow-x}*/ 1px /*{a-body-shadow-y}*/ 0 /*{a-body-shadow-radius}*/ white /*{a-body-shadow-color}*/;
	background: #F9F9F9 /*{a-body-background-color}*/;
}


/* switch */
.switch {
	box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    
	position:relative;
	font-weight:bold;
	font: 1.2em/100% Arial, Helvetica, sans-serif;
	width: 100%;
	padding:1px 0px;
	border: 1px solid #e5e5e7;
	border-radius: 1.7em;
	cursor: pointer;
	
	background-color:#e0e0e0;
	-webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, .2);
	box-shadow: inset 0px 3px 4px rgba(0, 0, 0, .2);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#cecece), color-stop(1, #ddd));
}
.switch > .label_box {position:absolute;left:0px;top:30%;width:100%;}
.switch > .label_box > .label_left {float:left;width:50%;text-shadow: 0 1px 1px rgba(256,256,256,.8);color:#555;text-align:center}
.switch > .label_box > .label_right {float:left;width:50%;text-shadow: 0 1px 1px rgba(256,256,256,.8);color:#555;text-align:center}

.switch input[type=checkbox] {
	display: none;
}
.switch > .thumb {
	box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    
	margin:0px;
	text-align:center;
	color:#fff;
	font-weight:bold;
	font: 1.2em/100% Arial, Helvetica, sans-serif;
	padding: .5em 0em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	display: block;
	width: 50%;
	border-radius:1em;

	text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
	text-overflow: ellipsis;
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
	background: none;
	background-image: -webkit-gradient(linear, left top, left bottom,
		color-stop(0, #8ea4c1),
		color-stop(0.5, #5877a2),
		color-stop(0.5, #476999),
		color-stop(1, #4a6c9b));
	-webkit-border-radius: 1em;
	
	border: 1px solid #4A6C9B;
	box-shadow:2px 2px 4px rgba(000,000,000,0.2),inset 0px 0px 1px rgba(250,164,026,1);

	-o-transition: all 0.125s ease-in-out;
	-webkit-transition: all 0.125s ease-in-out;
	-moz-transition: all 0.125s ease-in-out;

	-o-transform: translateX(0px);
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translateX(0px);
	
}
.switch.on > .thumb {
	-webkit-transform: translateX(100%);
	-o-transform: translateX(100%);
	-moz-transform: translateX(100%);
	box-shadow:1px 1px 2px rgba(000,000,000,0.2),inset 0px 0px 1px rgba(250,164,026,1);
}
