/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace flexpad "com.flexpad.*";


.hintText{
	fontFamily : "Malgun Gothic","Dotum","Gulim",AppleGothic,sans-serif;
	font-size: 15px;
	color: #b3b3b3;
}

flexpad|BarGreyLabel{
	fontFamily : "Malgun Gothic","Dotum","Gulim",AppleGothic,sans-serif;
	font-weight: bold;
	color: #717880;
	font-size: 20px;
}

flexpad|BarBlackLabel{
	fontFamily : "Malgun Gothic","Dotum","Gulim",AppleGothic,sans-serif;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 20px;
}

.buttonBarGreyButtonLabel{
	fontFamily : "Malgun Gothic","Dotum","Gulim",AppleGothic,sans-serif;
	font-weight: bold;
	font-size: 12px;
}

.buttonBarGreyButtonLabel:normal{
	color: #4f5459;
}

.buttonBarGreyButtonLabel:selected{
	color: #FFFFFF;
}

.buttonBarBlackButtonLabel{
	fontFamily : "Malgun Gothic","Dotum","Gulim",AppleGothic,sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #FFFFFF;
}

.largeButtonBarGreyButtonLabel{
	fontFamily : "Malgun Gothic","Dotum","Gulim",AppleGothic,sans-serif;
	font-weight: bold;
	font-size: 17px;
}

.largeButtonBarGreyButtonLabel:normal{
	color: #7f7f7f;
}

.largeButtonBarGreyButtonLabel:selected{
	color: #ffffff;
}

flexpad|HintTextInput{
	fontFamily : "Malgun Gothic","Dotum","Gulim",AppleGothic,sans-serif;
	font-size: 15px;
}

flexpad|SearchTextInput{
	icon: Embed("search.png");
	fontFamily : "Malgun Gothic","Dotum","Gulim",AppleGothic,sans-serif;
	font-size: 15px;
}

flexpad|ButtonLabel{
	fontFamily : "Malgun Gothic","Dotum","Gulim",AppleGothic,sans-serif;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 12px;
}

.tabBarBlackButtonLabel{
	fontFamily : "Malgun Gothic","Dotum","Gulim",AppleGothic,sans-serif;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 10px;
}
.tabBarBlackButtonLabel:normal{
	color: #c6c6c5;
}

.tabBarBlackButtonLabel:selected{
	color: #FFFFFF;
}

flexpad|Switch{
	fontFamily : "Malgun Gothic","Dotum","Gulim",AppleGothic,sans-serif;
	font-weight: bold;
	font-size: 17px;
}

flexpad|AlertPanelTitleLabel{
	fontFamily : "Malgun Gothic","Dotum","Gulim",AppleGothic,sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #FFFFFF;
}

flexpad|AlertPanelTextLabel{
	fontFamily : "Malgun Gothic","Dotum","Gulim",AppleGothic,sans-serif;
	font-weight: normal;
	font-size: 16px;
	color: #FFFFFF;
}

flexpad|AlertPanelButton{
	fontFamily : "Malgun Gothic","Dotum","Gulim",AppleGothic,sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #FFFFFF;
}

flexpad|CheckBox{
	fontFamily : "Malgun Gothic","Dotum","Gulim",AppleGothic,sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #FFFFFF;
}

flexpad|RadioButton{
	fontFamily : "Malgun Gothic","Dotum","Gulim",AppleGothic,sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #FFFFFF;
}

.listItemRendererLabel{
	fontFamily : "Malgun Gothic","Dotum","Gulim",AppleGothic,sans-serif;
	font-weight: bold;
	font-size: 17px;
}
.listItemRendererLabel:normal{
	color: #040404;
}
.listItemRendererLabel:selected{
	color: #FFFFFF;
}
.listItemRendererHintLabel{
	fontFamily : "Malgun Gothic","Dotum","Gulim",AppleGothic,sans-serif;
	font-size: 17px;
}
.listItemRendererHintLabel:normal{
	color: #395587;
}
.listItemRendererHintLabel:selected{
	color: #FFFFFF;
}